
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600;700&family=Poppins:wght@500&display=swap');

.My-Portfolio-Website{
    background-color: lightgoldenrodyellow;
    padding: 1%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

